[submodule "submodules/python-lj"]
	path = submodules/python-lj
	url = git@github.com:ArchiversAnonymous/python-lj.git
[submodule "submodules/deviantart"]
	path = submodules/deviantart
	url = git@github.com:zetasyanthis/deviantart.git
[submodule "submodules/Mastodon.py"]
	path = submodules/Mastodon.py
	url = git@github.com:zetasyanthis/Mastodon.py.git
[submodule "submodules/pafy"]
	path = submodules/pafy
	url = git@github.com:zetasyanthis/pafy
[submodule "submodules/praw"]
	path = submodules/praw
	url = git@github.com:zetasyanthis/praw.git
[submodule "submodules/medium-sdk-python"]
	path = submodules/medium-sdk-python
	url = git@github.com:zetasyanthis/medium-sdk-python.git
[submodule "submodules/gpodder"]
	path = submodules/gpodder
	url = git@github.com:zetasyanthis/gpodder.git
[submodule "submodules/feedparser"]
	path = submodules/feedparser
	url = git@github.com:zetasyanthis/feedparser.git
[submodule "submodules/gist"]
	path = submodules/gist
	url = git@github.com:zetasyanthis/gist.git
[submodule "python-twitter"]
	path = submodules/python-twitter
	url = git@github.com:zetasyanthis/python-twitter.git
[submodule "submodules/goodreads"]
	path = submodules/goodreads
	url = git@github.com:zetasyanthis/goodreads.git
